.logo-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

/* Logo resmi */
.logo {
  width: 50px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
}

/* Logo altındaki metin */
.logo-text {
  font-family: Arial;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px;
}

.search-input {

  box-shadow: none;
  border: none;
  padding: 5px 10px;
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  border-bottom: 2px solid darkgrey;
}

.icons{
  font-size: 30px;
  margin-right: 10px;
}

.search-input:hover{
  border-bottom: 2px solid dark;
}

.search-input:focus{
  outline: none;
  background-color: black;
  color : white;
  border-radius: 5px;
  
  
}


#root{
  height: 100vh;
}