/* Product.css */

.card {
  width: 200px;
  height: 420px; /* Slightly increased to ensure space for content */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin: 15px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  position: relative; /* Use relative position for button alignment */
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.image {
  width: 100%;
  height: 200px;
  object-fit: contain;
  background-color: white;
  padding: 10px;
}

.card div {
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.card p {
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 1.5;
}

.card h3 {
  font-size: 16px;
  color: #e67e22;
  margin: 0;
  font-weight: 700;
}

.detail-button {
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  margin: 10px 0;
  transition: background-color 0.3s ease, transform 0.2s ease;
  position: absolute;
  bottom: 10px; /* Ensure the button is aligned to the bottom */
  left: 50%;
  transform: translateX(-50%); /* Center the button horizontally */
  width: 80%; /* Make button width consistent */
}

.detail-button:hover {
  background-color: #4eb35b;
  transform: translate(-50%, -3px); /* Adjust hover transform */
}

.detail-button:active {
  background-color: #e67e22;
  transform: translate(-50%, 0); /* Keep position when clicked */
}
